@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    font:inherit;
}

body{
    background-image: url(background.jpg);    
}

header{
    background: rgb(255,0,248);
    background: linear-gradient(90deg, rgba(255,0,248,1) 0%, rgba(84,8,83,1) 100%);
    box-shadow: black 0px 4px 16px, inset black 0px -4px 16px;
    position: sticky;
    top:0px;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    font-size: 3vh;
    padding: 0.01em;
    padding-left: 0.5em;
}

.constructionRelocator{
    font-size: 20vh;
    color: white;
    border: 1px solid;
    background-color: rgba(200, 200, 200, 0.2);
}

.content{
    margin-top: 32px;
    display: grid;
    grid-template-columns: 70% 3fr ;
}

.parchment{
    background-image: url(parchment.jpg);
    grid-column: 1/2;
    justify-self: right;
    max-width: 900px;
    font-size: 25px;
    border-radius: 4px;
    border: ridge 4px rgb(200, 200, 230);
    padding: 5px;
}

.gameplay{
    display: grid;
    grid-template:1fr / 13% 20% 1fr 1fr;
}

.csHeader{
    width: 100%-10px;
    margin: 5px;
    border: double 5px;
    height: fit-content;
    padding: 2px;
}

.csSubHeader{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.csSubHeader div{
    font-size: 1.5vh;
}

.csSubHeader div h2{
    font-size: 3vh;
    border-bottom: solid 1px;
}

.csAbility{
    grid-column: 1/2;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

ul.csAbility li{
    width: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(150,150,150,0.1);
    border: double 5px;
    margin-bottom: 15px;
    padding: 0 24px;
    margin-top: 0px;
    border-radius: 10px;
}

ul.csAbility li h1{
    font-size: 10px;
}
ul.csAbility li h2{
    font-size: 40px;
}
ul.csAbility li h3{
    font-size: 22px;
    border: solid 1px;
    width: 2em;
    border-radius: 2em;
}

.csSkill-Save{
    grid-column: 2/3;
    font-family: 'Cinzel', serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.csSkill-Save ul{
    border:double 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    min-width: 10em;
}


.csSkill-Save ul li{
    margin: 0 5%;
    font-family: 'Cinzel', serif;
    font-size: 1.8vh;
    font-weight: bold;
    border: solid 2px;
    border-radius: 4px;
    text-align: left;
    margin-bottom: 5px;
}

.csSkill-Save ul li.header{
    border: none;
    text-align: center;
}

button.skill{
    margin-bottom: 5px;
    background: rgba(100,100,100,0.2);
    border: solid 2px;
    border-radius: 4px;
    width: 90%;
    text-align: left;
    cursor: pointer;
}

button.skill:hover{
    background: rgba(200,200,200,0.5);
}

ul.documentation{
    margin-left: 2%;
}

.middle-column{
    margin-left: 10px;
    margin-right: 10px;
}

.csStats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.csStats div{
    border:double 5px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    width: 25%;
    height: 85px;
    font-family: 'Cinzel', serif;
    font-size: 14px;
    font-weight: bold;
}

.csStats div h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 42px;
    font-weight: normal;
}

div.hp{
    margin-top: 15px;
    border:double 5px;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
    font-size: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.hp h2{
    font-size: 2.5vh;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

div.death{
    margin-top: 15px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.hit-dice{
    width: 45%;
    text-align: center;
    border: double 5px;
    border-radius: 10px;
}

div.death-saves{
    border: double 5px;
    border-radius: 10px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 16px;
    width: 45%;
    text-align: center;
    text-align: right;
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
}

div.death-saves h1{
    width: fit-content;
    text-align: center;
}

div.checkboxDiv{
    display: inline;
    position: relative;
    width: 0.8em;
    height: 0.8em;
    margin-right: 1em;
}

div.checkboxDiv input ~ .checkmark{
    border: solid 1px;
    border-radius: 0.8em;
    position: absolute;
    transform: translateY(0.2em);
    width: inherit;
    height: inherit;
}

div.checkboxDiv input:checked ~ .checkmark{
    background-color: black;
}

input[type="checkbox"]{
    position: absolute;
    transform: translateY(3px);
    z-index: 2;
    width: 1em;
    height: 1em;
    opacity: 0;
}


div.documentation{
    background-image: url(parchment.jpg);
    padding: 4px;
    border-radius: 4px;
    border: ridge 4px rgb(180, 150, 0);
    font-size: 2.5vh;
    margin-bottom: 2%;
}

div.documentation h1{
    font-family: 'Cinzel', serif;
    font-size: 3vh;
    font-weight: bolder;
    width: 50%;
}

button.documentation{
    width: fit-content;
    height: fit-content;
    font-family: 'Cinzel',serif;
    font-weight: bold;
    font-size: 2vh;
    background: rgb(200,200,230);
    background: radial-gradient(circle, rgba(200,200,230,1) 0%, rgba(80,80,90,1) 100%);
    border: ridge 4px rgb(200, 200, 230);
    border-radius: 10px;
}

button.documentation:hover{
    background: rgb(200,200,230);
}

.showDocumentation{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
}

.hidden{
    display: none;
}

.construction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: double 5px;
    border-radius: 15px;
}

.construction p{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Cinzel', serif;
    font-weight: bold;
    text-shadow: rgba(95, 7, 94,0.4) 2px 2px;
}

@media (max-width: 768px){
    .content{
        display: flex;
        flex-flow: column;
    }
    ul.documentation{
        order:-1;
        margin: 0;
    }
}

@media (max-width: 426px){
    div.gameplay{
        display: flex;
        flex-flow: row wrap;
    }
    ul.csAbility{
        display: grid;
        grid-template:1fr 1fr/33vw 33vw 33vw;
    }
    ul.csAbility li{
        width: auto;
        margin: 5px 5px;
    }
    .parchment{
        padding: 0px;
    }
    .construction{
        display: none;
    }
}